<div class="user-show-datespots">
  <span class="user-show-datespots__title">提案一覧(<%= @datespots_all.count %>件)</span>
  <span class="user-show-datespots__caution">※最大12件</span>
  <div class="user-show-datespots__content">
    <% if @datespots.any? %>
      <div id="datespot_index">
        <%= render partial: 'browsing_histories/datespot_index' %>
      </div>
    <% else %>
      <span class="datespot-index__no-datespot-small">提案はありません</span>
    <% end %>
  </div>
</div>
