<div class="top-wrapper">
  <div class="top-description">
    <h1>date-match</h1>
    <h2>デート提案型　マッチングサービス</h2>
    <h2> 〜お互いの行きたいところから始まる新しい出会い形〜</h2>
  </div>
  <div class="top-sign">
    <%= link_to '新規登録', signup_path, class:"btn" %>
    <%= link_to 'ログイン', login_path, class:"btn" %>
    <%# かんたんログイン %>
    <p class="">※ かんたんログインはポートフォリオ閲覧用です。<br>メールアドレス等を入力せず閲覧いただけます。</p>
  </div>
</div>
