<center>
  <h1>datelog</h1>
  <h2>お気に入りのデートスポット投稿サイト</h2>
</center>
<div class="container">
  <div class="row">
    <%= render 'datespots/datespot_search' %>
    <div class="col-md-9">
      <% if @datespots.any? %>
        <h3>デートスポット (<%= @datespots.count %>)</h3>
        <ol class="datespots">
          <%= render @datespots %>
        </ol>
        <%= will_paginate @datespots %>
      <% end %>
    </div>
  </div>
</div>
