<% @datespot = Datespot.find(favorite.datespot_id) %>
<li id="datespot-<%= @datespot.id %>">
  <p><%= l favorite.created_at %></p>
  <div class="row">
    <div class="col-md-4">
      <div class="favorite-datespot">
        <p class="list-message">この投稿をお気に入りに追加しました。</p>
      </div>
    </div>
    <div class="col-md-4">
      <%= link_to "お気に入りから削除", "/favorites/#{@datespot.id}/destroy",
                                  method: :delete,
                                  class: 'unlike',
                                  data: { confirm: "本当にお気に入りから削除しますか？" } %>
    </div>
  </div>
  <%= render 'datespots/datespot_info' %>
</li>
