<div class="user-show-datespots">
  <span class="user-show-datespots__title">提案一覧(<%= @datespots.count %>件)</span>
  <div class="user-show-datespots__content">
    <% if @datespots.any? %>
      <ol class="datespot-index">
        <%= render @datespots %>
      </ol>
      <%= will_paginate @datespots, previous_label: '<', next_label: '>', inner_window: 1, outer_window: 0 %>
    <% else %>
      <span class="datespot-index__no-datespot-small">提案はありません</span>
    <% end %>
  </div>
</div>
