@import "Object/Utility/colors";
@import "Object/Utility/prefix";

.comment-form {
  margin-bottom: 5%;

  &__error-messages{
    font-size: 1.4rem;
  }

  img {
    height: 24px;
    width: 24px;
  }

  label {
    font-size: 2rem;
  }

  &__input-need, &__input-unneed {
    font-size: 1.6rem;
    margin-left: 1%;
  }

  &__input-form {
    width: 40%;
    font-size: 1.2rem;
    line-height: 2.5;
    border: 2px solid $font-color__wine-red;
    border-radius: 5px;
    background-color: white;
    padding: 0 5px;
  }

  &__input-form {
    width: 40%;
    font-size: 1.2rem;
    line-height: 2.5;
    border: 2px solid $font-color__wine-red;
    border-radius: 5px;
    background-color: white;
    padding: 0 5px;
  }

  &__file-form {
    width: 40%;
    font-size: 1.2rem;
    line-height: 1.5;
    border: 2px solid $font-color__wine-red;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
  }
}
