@import "Object/Utility/colors";
@import "Object/Utility/prefix";

.datespot-show {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  border: 1px solid $font-color__wine-red;

  &__card-upper {
    &--image {
      width: 100%;
    }
  }

  &__card-lower {
    padding: 3%;

    &--info {
      width: 100%;
      padding-bottom: 8%;
    }

    &--weather {
      width: 100%;
      padding-bottom: 8%;
    }

    &--map {
      width: 100%;
      padding-bottom: 8%;
    }

    &--comment {
      width: 100%;
    }
  }
}
