@import "Object/Utility/colors";
@import "Object/Utility/prefix";

.datespot-show-info {
  &__title {
    margin-bottom: 3%;
    padding-bottom: 8px;
    border-bottom: 1.5px solid $font-color__wine-red;
    font-size: 3rem;
    font-weight: bold;
  }

  &__top {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5%;

    &--user {
      width: 50%;
      font-size: 2rem;
      text-align: left;

      &-avatar {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-right: 5%;
      }

      &-link:hover {
        text-decoration: none;
        opacity: 0.7;
      }
    }

    &--actions {
      display:flex;
      justify-content: flex-end;
      font-size: 3rem;

      &-favorite {
        display:flex;
        align-items: center;
      }

      a:hover {
        text-decoration: none;
      }

      &-edit:hover, &-delete:hover, &-favorite:hover {
        opacity: 0.7;
      }
    }

    &--actions >:first-child {
      margin-right: auto;
    }
  }

  &__address, &__range, &__invitation, &__reference-url {
    display: inline-block;
    margin-bottom: 1.5%;
    width: 100%;
    font-size: 2rem;
    text-align: left;
  }

  &__keywords {
    display: inline-block;
    margin-bottom: 1%;
    width: 100%;
    text-align: left;

    &--tag {
      display: inline-block;
      color: $link-color__blue;
      text-align: center;
      vertical-align: middle;
      padding: 0 1.5%;
      margin-right: 3%;
      font-size: 1.8rem;
      line-height: 2;
      background-color: whitesmoke;
    }
  }

  &__bottom {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;

    &--timestamp {
      font-size: 2rem;
    }

    &--actions {
      display:flex;
      justify-content: flex-end;
      font-size: 3rem;

      &-impressions {
        display:flex;
        align-items: center;

        &-icon {
          margin-top: 5%;
        }
      }

      &-list {
        display:flex;
        align-items: center;
        margin-left: 15%;
      }
    }

    &--actions >:first-child {
      margin-right: auto;
    }
  }

  &__list{
    width: 40%;
    margin-bottom: 8%;
    text-align: left;
  }

  &__plan {
    width: 100%;
    font-size: 2rem;
    text-align: left;
  }
}
