@import "Object/Utility/colors";
@import "Object/Utility/prefix";

.datespot {
  height: 100%;
  width: 100%;
  border: 4px solid $font-color__wine-red;
  border-radius: 5px;
  background-color: white;

  &__card-upper {
    display: flex;
    flex-wrap: wrap;
    height: 50%;

    &-left {
      width: 50%;
    }

    &-right {
      width: 50%;
    }
  }

  &__card-lower {
    height: 50%;
  }
}
