@import "Object/Utility/colors";
@import "Object/Utility/prefix";

.datespot-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__no-datespot-large {
    font-size: 2.4rem;
  }

  &__no-datespot-small {
    font-size: 1.8rem;
  }

  &__card {
    width: 30%;
    height: 25%;
    margin-bottom: 3%;
    text-align: left;
    background-color: white;
    border: 1px solid $font-color__wine-red;
  }

  &__card-upper {
    &--image {
      width: 100%;
      opacity: 1;
      transition: 0.5s ease-in-out;
    }

    &--image:hover {
      opacity: 0.5;
    }
  }

  &__card-lower {
    margin: 5%;
  }
}
