@import "Object/Utility/colors";
@import "Object/Utility/prefix";

.datespot-index-info {
  &__top {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;

    &--datespot-name {
      font-size: 1.6rem;
    }

    &--actions {
      display:flex;
      justify-content: flex-end;
      font-size: 2rem;

      &-favorite {
        display:flex;
        align-items: center;
      }

      a:hover {
        text-decoration: none;
      }

      &-edit:hover, &-delete:hover, &-favorite:hover {
        opacity: 0.7;
      }
    }

    &--actions >:first-child {
      margin-right: auto;
    }
  }

  &__user {
    font-size: 1.4rem;
    margin-bottom: 2%;

    &--avatar {
      border-radius: 50%;
      width: 24px;
      height: 24px;
      object-fit: cover;
      margin-left: 0.5%;
      margin-right: 5%;
    }

    &--link:hover {
      text-decoration: none;
      opacity: 0.7;
    }
  }

  &__address, &__range, &__invitation {
    display: inline-block;
    width: 100%;
    font-size: 1.4rem;
    margin-bottom: 2%;
  }

  &__date {
    display: inline-block;
    width: 100%;
    font-size: 1.4rem;
    margin-bottom: 1%;
  }

  &__icon {
    margin-left: 2%;
    margin-right: 8%;
  }

  &__icon-invitation, &__icon-date {
    margin-left: 1%;
    margin-right: 7%;
  }

  &__evaluations {
    display:flex;
    justify-content: space-between;
    margin-bottom: 2%;

    &--rate-average {
      display:flex;
      font-size: 1.8rem;
      margin-left: 1.75%;

      &-score {
        margin-top: 2%;
      }
    }

    &--comment {
      font-size: 1.8rem;
      margin-top: 1%;
    }
  }

  &__bottom {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;

    &--timestamp {
      display:flex;
      align-items: center;
      font-size: 1.4rem;
      margin-left: 2%;

      &-icon {
        margin-right: 15%;
      }
    }

    &--actions {
      display:flex;
      justify-content: flex-end;
      font-size: 2rem;

      &-impressions {
        display:flex;
        align-items: center;

        &-icon {
          margin-top: 5%;
        }
      }

      &-list {
        display:flex;
        align-items: center;
        margin-left: 15%;
      }
    }

    &--actions >:first-child {
      margin-right: auto;
    }
  }

  &__keywords {
    margin-bottom: 3%;

    &--tag {
      display: inline-block;
      color: $link-color__blue;
      text-align: center;
      vertical-align: middle;
      padding: 0 3%;
      margin-right: 5%;
      margin-bottom: 2%;
      font-size: 1.2rem;
      line-height: 2;
      background-color: whitesmoke;
    }
  }
}
