@import "Object/Utility/colors";
@import "Object/Utility/prefix";

.info-form {
  margin-bottom: 5%;

  label {
    font-size: 2.4rem;
  }

  &__input-need, &__input-unneed {
    font-size: 1.6rem;
    margin-left: 1%;
  }

  &__input-form {
    width: 40%;
    font-size: 1.2rem;
    line-height: 2.5;
    border: 2px solid $font-color__wine-red;
    border-radius: 5px;
    background-color: white;
    padding: 0 5px;
  }

  #user_prefecture_code, #datespot_prefecture_code {
    width: 40%;
    font-size: 1.2rem;
    line-height: 2.5;
    border: 2px solid $font-color__wine-red;
    border-radius: 5px;
    background-color: white;
  }

  &__select-form {
    width: 40%;
    font-size: 1.2rem;
    line-height: 2.5;
    border: 2px solid $font-color__wine-red;
    border-radius: 5px;
    background-color: white;
  }

  &__file-form {
    width: 40%;
    font-size: 1.2rem;
    line-height: 1.5;
    border: 2px solid $font-color__wine-red;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
  }

  &__textarea-form {
    width: 40%;
    font-size: 1.2rem;
    line-height: 2;
    border: 2px solid $font-color__wine-red;
    border-radius: 5px;
    background-color: white;
    padding: 0 5px;
  }

  select {
    height: 3.4rem;
  }

  &__radio-button {
    display: inline-flex;
    justify-content: space-between;
    height: 100%;

    label {
      cursor: pointer;
      padding: 0 4px;
      margin: 0 8px;
    }

    input[type=radio] {
      display: none;

      &:checked + label {
        border-bottom: 3px solid $font-color__wine-red;
      }
    }
  }

  &__radio-button:hover {
    opacity: 0.7;
  }

  &__map {
    position: relative;
    display: inline-block;
    color: $link-color__blue;
    font-size: 1.4rem;
    cursor: pointer;
    margin-left: 1%;

    i {
      color: $link-color__blue;
    }
  }

  &__map::after {
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -3px;
    left: 0;
    content: '';
    background: $link-color__blue;
    @include ProprtySetPrefix(transform, scale(0, 1));
    transform-origin: center top;
    transition: transform 0.3s;
  }

  &__map:hover::after {
    @include ProprtySetPrefix(transform, scale(1, 1));
  }

  &__guest-login, &__signup, &__back, &__delete {
    margin-bottom: 2%;
    font-size: 1.6rem;
  }
}
