@import "Object/Utility/colors";
@import "Object/Utility/prefix";

.map-new {
  margin-bottom: 5%;

  &__form {
    width: 30%;
    font-size: 1.2rem;
    line-height: 2.5;
    border: 2px solid $font-color__wine-red;
    border-radius: 5px;
    background-color: white;
    margin-right: 1%;
  }

  &__submit {
    display: inline-block;
    color: white;
    vertical-align: middle;
    width: 9%;
    font-size: 1.2rem;
    line-height: 2.5;
    border: 2px solid $font-color__wine-red;
    border-radius: 5px;
    background-color: $font-color__wine-red;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.4);
  }

  &__submit:hover {
    border: 2px solid $button-hover-color__pink;
    background-color: $button-hover-color__pink;
  }

  &__submit:active {
    @include ProprtySetPrefix(transform, translateY(4px));
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
  }

  &__wrapper {
    position: relative; /* 子要素の基準とする */
    padding-top: 56.25%; /* 幅の 56.25% を高さとする場合（16:9）*/
    margin-top: 1%;

    &--content {
      position: absolute; /* 親要素のパディング領域に配置 */
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}
