@import "Object/Utility/colors";
@import "Object/Utility/prefix";

.matching-show {
  &__user-info {
    display:flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 5%;
    padding-bottom: 15px;
    border-bottom: 1.5px solid $font-color__wine-red;

    &--avatar {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      object-fit: cover;
    }

    &--avatar:hover {
      opacity: 0.7;
    }

    &--name {
      font-size: 2.4rem;
      margin-left: 5%;
    }
  }

  &__messages-area {
    margin-bottom: 5%;
  }
}
