@import "Object/Utility/colors";
@import "Object/Utility/prefix";

.user-index-info {
  &__top {
    display:flex;
    justify-content: space-between;
    margin-bottom: 2%;

    &--user-name {
      font-size: 1.8em;
    }

    &--user-change {
      font-size: 1.8em;

      a:hover {
        text-decoration: none;
      }
    }
  }

  &__residence, &__age, &__sex, &__introduction {
    display: inline-block;
    width: 100%;
    font-size: 1.4em;
    margin-bottom: 2%;
  }

  &__icon {
    margin-left: 2%;
    margin-right: 8%;
  }

  &__bottom {
    display:flex;
    justify-content: space-between;
    margin-bottom: 2%;

    &--timestamp {
      font-size: 1.4em;
      margin-left: 2%;
    }

    &--actions {
      display:flex;
      justify-content: flex-end;
      font-size: 1.6em;

      &-impressions, &-datespots, &-followed {
        display:flex;
        margin-left: 10%;
      }
    }

    &--actions >:first-child {
      margin-right: auto;
    }
  }
}
