@import "Object/Utility/colors";
@import "Object/Utility/prefix";

.user-search {
  &__search-result {
    display: inline-block;
    font-size: 2.4rem;
    margin-bottom: 1%;
  }

  &__users-count {
    font-size: 2.4rem;
  }

  &__search-description {
    font-size: 1.8rem;
    margin-bottom: 3%;
  }

  &__search-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1% 0 3%;

    span {
      font-size: 1.4rem;
      background-color: $base-color__light-yellow;
    }

    select {
      height: 3.4rem;
    }

    #q_prefecture_code_eq {
      width: 12.5%;
      font-size: 1.2rem;
      line-height: 2.5;
      border: 2px solid $font-color__wine-red;
      border-radius: 5px;
      background-color: white;
    }

    &--search-field {
      width: 12.5%;
      font-size: 1.2rem;
      line-height: 2.5;
      border: 2px solid $font-color__wine-red;
      border-radius: 5px;
      background-color: white;
      padding: 0 5px;
    }

    &--sort-field {
      width: 13.5%;
      font-size: 1.2rem;
      line-height: 2.5;
      border: 2px solid $font-color__wine-red;
      border-radius: 5px;
      background-color: white;
      padding: 0 5px;
    }

    &--search-button {
      display: inline-block;
      vertical-align: middle;
      width: 4%;
      font-size: 1.2rem;
      line-height: 2.5;
      border: 2px solid $font-color__wine-red;
      border-radius: 5px;
      background-color: $font-color__wine-red;
      box-shadow: 0px 4px 4px rgba(0,0,0,0.4);
    }

    &--search-button:hover {
      border: 2px solid $button-hover-color__pink;
      background-color: $button-hover-color__pink;
    }

    &--search-button:active {
      @include ProprtySetPrefix(transform, translateY(4px));
      box-shadow: 0px 0px 0px rgba(0,0,0,0);
    }

    &--radio-button {
      display: inline-flex;
      justify-content: space-between;
      height: 100%;
      font-size: 1.4rem;
      margin-top: 0.5%;
      background-color: $base-color__light-yellow;

      label {
        cursor: pointer;
      }

      input[type=radio] {
        display: none;

        &:checked + label {
          border-bottom: 2px solid $font-color__wine-red;
        }
      }
    }

    &--radio-button:hover {
      opacity: 0.7;
    }

    &--search-icon {
      color: white;
    }
  }
}
