<% if @datespot.images.attached? %>
  <div class="swiper-container datespot-slider">
    <div class="swiper-wrapper">
      <% @datespot.images.each do |image| %>
        <div class="swiper-slide"><%= image_tag image.variant(resize:'600x600').processed, class: "datespot-slider--image" %></div>
      <% end %>
    </div>
    <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-pagination swiper-pagination-white"></div>
  </div>
<% else %>
  <%= image_tag 'thumb400_default.png', class: "datespot-slider--image" %>
<% end %>
