<% if @datespot.images.attached? %>
  <div class="swiper-container slider">
    <div class="swiper-wrapper">
      <% @datespot.images.each do |image| %>
        <div class="swiper-slide"><%= image_tag image.variant(resize:'400x400').processed %></div>
      <% end %>
    </div>
    <div class="swiper-scrollbar"></div>
  </div>
<% else %>
  <%= image_tag 'thumb400_default.png'%>
<% end %>
<% if @datespot.images.attached? %>
  <div class="swiper-container thumbnail">
    <div class="swiper-wrapper">
      <% @datespot.images.each do |image| %>
        <div class="swiper-slide"><%= image_tag image.variant(resize:'400x400').processed %></div>
      <% end %>
    </div>
  </div>
<% end %>
