<div class="map-show">
  <div class="map-show__wrapper">
    <div id="map" class="map-show__wrapper--content"></div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY']%>&callback=initMap"></script>
