<% provide(:title, "投稿編集") %>
<% provide(:button_text, "更新する") %>
<div class="container">
  <h1>編集する</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'datespot_form' %>
      <%= link_to "投稿を削除する", datespot_path(@datespot), method: :delete,
                             data: { confirm: "本当にこの投稿を削除してもよろしいですか？" } %>
    </div>
  </div>
</div>
