<% provide(:title, "提案する") %>
<% provide(:button_text, "提案する") %>
<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/logging_in_sidebar' %>
    <div class="main">
      <div class="heading">
        <h1 class="heading__title">提案する</h1>
      </div>
      <div class="content">
        <%= render 'datespot_new_form' %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </div>
</div>
