<% unless current_user?(@user) %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= link_to "いいね済", "#", class: "btn btn-primary" %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %>
