<div class="datespot-info__bottom--actions-list" id="list-<%= @datespot.id %>">
  <% if !current_user.nil? && current_user.list?(@datespot) %>
    <%= render 'users/unlist' %>
  <% else %>
    <%= render 'users/list' %>
  <% end %>
</div>
