<%= link_to "/lists/#{@datespot.id}/create",
            method: :post,
            class: 'list',
            remote: true do %>
  <% if current_user == @datespot.user %>
    <div class="list-btn-list"><i class="fas fa-list-ul"></i> 行く予定リストに追加する</div>
  <% else %>
    <div class="list-btn-list"><i class="fas fa-utensils"></i> 行きたいリクエストを送る</div>
  <% end %>
<% end %>
