<% if current_user != @datespot.user %>
  <%= link_to "/lists/#{@datespot.id}/create", method: :post, class: 'list', remote: true do %>
    <span><i class="far fa-hand-paper"></i></span>
  <% end %>
  <span><%= @datespot.lists.count %></span>
<% end %>
