<%= link_to "/favorites/#{@datespot.id}/destroy", method: :delete, class: 'unlike', remote: true do %>
  <span><i class="fa fa-heart"></i></span>
<% end %>&nbsp;
<span><%= @datespot.favorites.count %></span>
