<% list = List.find_by(datespot_id: @datespot.id) %>
<% if current_user != @datespot.user %>
  <%= link_to "/lists/#{list.id}/destroy", method: :delete, class: 'unlist', remote: true do %>
    <span><i class="fas fa-hand-paper"></i></span>
  <% end %>
  <span><%= @datespot.lists.count %></span>
<% end %>
