<% if @user.avatars.attached? %>
  <div class="swiper-container user-slider">
    <div class="swiper-wrapper">
      <% @user.avatars.each do |avatar| %>
        <div class="swiper-slide"><%= image_tag avatar.variant(resize:'800x800').processed, class: "user-slider--image" %></div>
      <% end %>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div>
  </div>
<% else %>
  <%= image_tag 'thumb400_default.png', class: "user-slider--image" %>
<% end %>
