<% @user = user %>
<li>
  <div class="row">
    <div class="col-md-6">
      <%= render 'users/avatar_slide_thumb200' %>
    </div>
    <div class="col-md-6">
      <h4 class="user-name"><%= link_to @user.name, user %></h4>
      <% if (current_user.admin? && current_user != @user) || (!current_user.admin? && current_user == @user) %>
        <%= link_to "削除", user_path(@user), method: :delete,
                                      data: { confirm: "本当に削除しますか？" } %>
      <% end %>
    </div>
  </div>
</li>
