<% provide(:title, 'ユーザー一覧') %>
<div class="container">
  <h3 class="title-users-index">ユーザー一覧</h3>
  <div class="row">
    <%= render 'user_search' %>
    <div class="col-md-9">
      <% if @users.any? %>
        <h3>ユーザー (<%= @users.count %>)</h3>
        <ol class="users">
          <%= render @users %>
        </ol>
        <%= will_paginate @users %>
      <% end %>
    </div>
  </div>
</div>
