@import "Object/Utility/colors";
@import "Object/Utility/prefix";

.heading {
  border-bottom: 3px solid $font-color__wine-red;
  padding-bottom: 5%;

  &__title {
    margin-top: 1%;
    font-size: 4.8rem;
    font-weight: bold;
  }
}
