@import "Object/Utility/colors";
@import "Object/Utility/prefix";

.main {
  background-color: $base-color__light-yellow;
  text-align: center;
  padding: 5% 5%;
  width: 80%;
}

.content {
  margin-top: 5%;
  margin-bottom: 5%;
}
