@import "Object/Utility/colors";
@import "Object/Utility/prefix";

.action-btn {
  margin-bottom: 5%;

  &__user {
    display: inline-block;
    color: white;
    vertical-align: middle;
    width: 40%;
    font-size: 1.2rem;
    line-height: 2.5;
    border: 2px solid $font-color__wine-red;
    border-radius: 5px;
    background-color: $font-color__wine-red;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.4);
  }

  &__user:active {
    @include ProprtySetPrefix(transform, translateY(4px));
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
  }
}
