@import "Object/Utility/colors";
@import "Object/Utility/prefix";

.list-button {
  &__before {
    display: inline-block;
    color: white;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    font-size: 1.4rem;
    line-height: 2;
    border: 2px solid $font-color__wine-red;
    border-radius: 5px;
    background-color: $font-color__wine-red;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.4);

    &--icon {
      color: white;
      font-size: 1.6rem;
      margin-right: 5%;
    }
  }

  &__before:hover {
    border: 2px solid $button-hover-color__pink;
    background-color: $button-hover-color__pink;
  }

  &__before:active {
    @include ProprtySetPrefix(transform, translateY(4px));
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
  }

  &__after {
    display: inline-block;
    color: white;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    font-size: 1.4rem;
    line-height: 2;
    border: 2px solid $button-hover-color__pink;
    border-radius: 5px;
    background-color: $button-hover-color__pink;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.4);

    &--icon {
      color: white;
      font-size: 1.6rem;
      margin-right: 5%;
    }
  }

  &__after:hover {
    border: 2px solid $font-color__wine-red;
    background-color: $font-color__wine-red;
  }

  &__after:active {
    @include ProprtySetPrefix(transform, translateY(4px));
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
  }

  a:hover {
    color: white;
    text-decoration: none;
  }
}
