@import "colors";
@import "prefix";

// 全ページ共通
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック";
  color: $font-color__wine-red;
}

html {
  /* ルートのフォントサイズを10pxに設定しておく */
  font-size: 62.5%;
}

body {
  /* ルートのフォントサイズを1.6em（16pxと同等のサイズ）に設定 */
  font-size: 1.6em;
}

ol, ul, dl {
  margin-bottom: 0 !important;
  list-style: none;
}

.main {
  background-color: $base-color__light-yellow;
  text-align: center;
  padding: 5% 5%;
  width: 80%;
}

.content {
  margin-top: 5%;
  margin-bottom: 5%;
}

.alert-success, .alert-danger {
  margin-bottom: 3% !important;
}

#error_explanation {
  font-size: 1.5rem;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

// テキストの見栄え
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}
 #error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

// ユーザー詳細ページ
.title-profile {
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
}

.user-picture-box {
  margin-top: 0.5em;
  margin-left: 1em;
}

.show-user-name {
  display: inline-block;
}

.account-edit {
  margin-top: 20px;
}

// ユーザー一覧ページ
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px;
  }
 }

// スライダー
.swiper-container {
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.slider {
  height: 80%;
  width: 100%;
}

.thumbnail {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.thumbnail .swiper-slide {
  height: 100%;
  opacity: 0.4;
}

.thumbnail.swiper-slide-thumb-active {
  opacity: 1;
}

// マップ
.map-container {
  padding-top: 20px;
}

.map_wrapper {
  position: relative; /* 子要素の基準とする */
  width: 100%;
  padding-top: 56.25%; /* 幅の 56.25% を高さとする場合（16:9）*/
  border: 1px solid #CCC;
}

.map_wrapper .map {
  position: absolute; /* 親要素のパディング領域に配置 */
  width: 100%; /* 親コンテナの幅いっぱいに表示 */
  height: 100%; /* 親コンテナの高さいっぱいに表示 */
  top: 0;
  left: 0;
}

#map{
  height: 310px;
  width: 550px;
}

// フォロー
.stats {
  margin: 5px 0;
}

// お気に入り
.like-btn-unlike {
  color: red;
}
.like-btn-like {
  color: grey;
}

.title-comment {
  font-weight: bold;
  font-size: 17px;
}

a.like, a.unlike {
  text-decoration: none;
}

.favorites {
  list-style: none;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

// コメント
.comments {
  list-style: none;
  li {
    font-size: 14px;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    .comment {
      font-size: 16px;
    }
  }
}

.comment-create-at {
  color: grey;
}

//通知
li.new_notification > a > span {
  color: red;
}

.notifications {
  list-style: none;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.notification-message {
  font-size: 16px;
}

//リスト
a.list, a.unlist {
  text-decoration: none;
}

.lists {
  list-style: none;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.list-message {
  font-size: 16px;
}

// ヘッダー
.navbar ul{
  margin-top: 12px;
  margin-bottom: 12px;
}
 #logo {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  img {
    width: 150px;
  }
}

// その他
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}
