@import "colors";
@import "prefix";

.datespots {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__card {
    border: 2px solid $font-color__wine-red;
    border-radius: 5px;
    background-color: white;
    width: 30%;
    height: 25%;
    margin-bottom: 3%;
    text-align: left;
  }

  &__card-upper {
    &--image {
      width: 100%;
      opacity: 1;
      transition: 0.5s ease-in-out;
    }

    &--image:hover {
      opacity: 0.5;
    }

    &--no-image {
      width: 100%;
    }
  }

  &__card-lower {
    margin: 5%;

    .datespot-info-top {
      display:flex;
      justify-content: space-between;

      .datespot-name {
        font-size: 1.6em;
      }


      .datespot-change {
        font-size: 1.6em;

        a {
          text-decoration: none;
        }
      }
    }

    .datespot-user-name {
      font-size: 1.4em;
      margin-top: 2%;

      .datespot-user-avatar {
        border-radius: 50%;
        width: 24px;
        height: 24px;
        object-fit: cover;
        margin-right: 5%;
      }
    }

    .datespot-address, .datespot-range {
      display: inline-block;
      width: 100%;
      font-size: 1.4em;
      margin-top: 2%;
    }

    .datespot-info-icon {
      margin-left: 2%;
      margin-right: 8%;
    }
  }

  .datespot-evaluations {
    display:flex;
    justify-content: space-between;
    margin-top: 2%;

    .datespot-rate-average {
      display:flex;
      font-size: 1.4em;
      margin-left: 1.75%;

      .datespot-rate-average-score {
        margin-top: 2%;
      }
    }

    .datespot-comment {
      font-size: 1.4em;
      margin-top: 1%;
    }

    .datespot-impressions {
      display:flex;
      font-size: 1.4em;
      margin-top: 1%;

      .datespot-impressions-icon {
        margin-top: 10%;
      }
    }
  }

  .datespot-keywords {
    .datespot-tag {
      display: inline-block;
      color: #FFFFFF;
      text-align: center;
      vertical-align: middle;
      padding: 0 3%;
      margin-top: 2%;
      margin-right: 5%;
      font-size: 1rem;
      line-height: 2.5;
      border: 2px solid $font-color__wine-red;
      border-radius: 5px;
      background-color: $font-color__wine-red;
      box-shadow: 0px 4px 4px rgba(0,0,0,0.4);

      a {
        color: #FFFFFF;
        text-decoration: none;
      }
    }

    .datespot-tag:active {
      @include ProprtySetPrefix(transform, translateY(4px));
      box-shadow: 0px 0px 0px rgba(0,0,0,0);
    }
  }

  .datespot-info-bottom {
    display:flex;
    justify-content: space-between;
    margin-top: 4%;

    .timestamp {
      font-size: 1.4em;
      margin-left: 2%;
    }

    .datespot-actions {
      display:flex;
      font-size: 1.6em;

      .datespot-list {
        display:flex;
        margin-right: 10%;
      }

      .datespot-favorite {
        display:flex;
      }
    }
  }
}

.new-datespot {
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 9;

  #fab {
    display: block;
    position: relative;
    width: 84px;
    height: 84px;
    background: $font-color__wine-red;
    border-radius: 50%;
    transition: 0.3s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
  }

  #fab:hover {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
  }

  #fab:active {
    @include ProprtySetPrefix(transform, translateY(4px));
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
  }

  #fab i {
    position: absolute;
    top: 50%;
    left: 50%;
    @include ProprtySetPrefix(transform, translate(-50%, -50%));
    font-size: 28px;
    color: white;
  }
}
