.swiper-container {
  width: 100%;
  height: 100vh;
  .swiper-wrapper {
    .swiper-slide {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .slider-section1 {
      background-image: url("home1.png");
    }
    .slider-section2 {
      background-image: url("home2.png");
    }
    .slider-section3 {
      background-image: url("home3.png");
    }
  }
}
