@import "colors";
@import "prefix";

.info-form {
  margin-bottom: 5%;

  label {
    font-size: 2.4rem;
  }

  &__input-need, &__input-unneed {
    font-size: 1.5rem;
    margin-left: 1%;
  }

  &__input-form {
    width: 40%;
    font-size: 1.2rem;
    line-height: 2.5;
    border: 2px solid $font-color__wine-red;
    border-radius: 5px;
    background-color: white;
  }

  #user_prefecture_code {
    width: 40%;
    font-size: 1.2rem;
    line-height: 2.5;
    border: 2px solid $font-color__wine-red;
    border-radius: 5px;
    background-color: white;
  }

  &__radio-button {
    display: inline-flex;
    justify-content: space-between;
    height: 100%;

    label {
      cursor: pointer;
      padding: 0 4px;
      margin: 0 8px;
    }

    input[type=radio] {
      display: none;

      &:checked + label {
        border-bottom: 3px solid $font-color__wine-red;
      }
    }
  }

  &__signup {
    font-size: 1.6rem;
  }
}

.search_result {
  display: inline-block;
  font-size: 1.8rem;

  .datespots_count {
    font-size: 2rem;
    margin: 0 0 5%;
  }
}

.search_form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1% 0 3%;
  z-index: 9;

  .search_field {
    width: 15%;
    font-size: 1.2rem;
    line-height: 2.5;
    border: 2px solid $font-color__wine-red;
    border-radius: 5px;
    background-color: white;
  }

  .search_button {
    display: inline-block;
    vertical-align: middle;
    width: 5%;
    font-size: 1.2rem;
    line-height: 2.5;
    border: 2px solid $font-color__wine-red;
    border-radius: 5px;
    background-color: $font-color__wine-red;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.4);

    .search-icon {
      color: #FFFFFF;
    }
  }

  .search_button:active {
    @include ProprtySetPrefix(transform, translateY(4px));
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
  }
}
