<div class="sidebar">
  <%= link_to(image_tag("logo.png", :width => "100%", :height => "auto", :alt => "date-matchのロゴ"), root_url, class: "sidebar-brand") %>
  <nav class="sidebar_nav">
    <ul class="nav">
      <li class="nav-item"><%= link_to signup_path, class: "nav-item" do %><i class="fas fa-user-plus nav-icon"></i>新規登録<% end %></li>
      <li class="nav-item"><%= link_to login_path, class: "nav-item" do %><i class="fas fa-sign-in-alt nav-icon"></i>ログイン<% end %></li>
    </ul>
  </nav>
</div>
